<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">CK Stats</span>
        <span class="form-inline my-2 my-lg-0">
            <a routerLink="/sofascore" style="text-decoration: none;">
                <h6 class="h6">
                    <fa-icon [icon]="faCog"></fa-icon>
                </h6>
            </a>
        </span>
    </div>
</nav>
<div class="container">
    <div class="row mt-4">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-12 border pb-4">
                    <h6 class="text text-default text-center pt-2 border-top border-left border-info lead"> Filtros</h6>
                    <app-torneio (torneio)="setParentTorneio($event)"></app-torneio>
                    <app-times [torneio]="torneioSelecionado" (timeSelecionado)="setParentTime($event)"></app-times>
                </div>
                <div class="col-12 mt-4 border pb-4">
                    <app-info [torneio]="torneioSelecionado" [time]="timeSelecionado"></app-info>
                </div>
                <div class="col-12 mt-4 border pb-4">
                    <app-classificacao [torneio]="torneioSelecionado"></app-classificacao>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <app-stats [torneio]="torneioSelecionado" [time]="timeSelecionado"></app-stats>
        </div>
    </div>
</div>